github "mitchellhenke/LoopKit" "rsilvers-129-dev-update"
github "mitchellhenke/CGMBLEKit" "rsilvers-129-dev-update"
github "i-schuetz/SwiftCharts" == 0.6.2
github "mitchellhenke/dexcom-share-client-swift" "rsilvers-129-dev-update"
github "mitchellhenke/G4ShareSpy" "rsilvers-129-dev-update"
github "mitchellhenke/rileylink_ios" "rsilvers-129-dev-update"
github "LoopKit/Amplitude-iOS" "decreepify"
github "getsentry/sentry-cocoa" "4.1.0"
