github "mitchellhenke/LoopKit" "mitchell-rsilvers129-fpu-v2"
github "mitchellhenke/CGMBLEKit" "mitchell-rsilvers129-fpu-v2"
github "i-schuetz/SwiftCharts" == 0.6.5
github "mitchellhenke/dexcom-share-client-swift" "mitchell-rsilvers129-fpu-v2"
github "mitchellhenke/G4ShareSpy" "mitchell-rsilvers129-fpu-v2"
github "mitchellhenke/rileylink_ios" "mitchell-rsilvers129-fpu-v2"
github "LoopKit/Amplitude-iOS" "decreepify"
